/* we only care about the map */
#map { height: 98vh; }

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

/* quick fixes */
.leaflet-container .leaflet-control-attribution { display: none !important; }
.leaflet-default-icon-path { background-image: url(../images/marker-icon.png) !important; }
.leaflet-top { top: unset !important; bottom: 50px !important; }

/* select mods */
#sel {
	display: block;
	position: relative;
	margin: 1em auto;
	z-index: 9999;
	background-color: rgba(192,192,192,0.3);
	height: 2.5em;
	/*max-width: 20em;
	text-align: center;*/
	
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
	
	text-overflow: ellipsis;
	/*text-indent: 1em;*/
	opacity: 0.75;
	border-style: solid;
}

#chkboxes {
	display: block;
	position: absolute;
	left: 0; 
  right: 0; 
  margin-inline: auto; 
	z-index: 9999;
	background-color: rgba(192,192,192,0.3);
	height: 2.5em;
	width: fit-content;
  bottom: 50px;
	
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;

	opacity: 0.75;
}


/* make the zoom also transparent */
.leaflet-touch .leaflet-bar a {
	background-color:rgba(192,192,192,0.3) !important;
	opacity: 0.75 !important;
}

[type="checkbox"]
{
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-appearance: listbox !important;
	-moz-appearance: listbox !important;
  vertical-align:middle;
  opacity: 0.75;
	border-style: solid;
}

