/* we only care about the map */
#map { height: 98vh; }

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

/* quick fixes */
/*.leaflet-shadow-pane  { display: none !important; }*/
.leaflet-container .leaflet-control-attribution { display: none !important; }
.leaflet-default-icon-path { background-image: url(../images/marker-icon.png) !important; }
.leaflet-top { top: unset !important; bottom: 10px !important; }

/* dropdown of bus stops */
#sel {
	display: block;
	position: relative;
	margin: 1em auto;
	z-index: 9999;
}
