/* we only care about the map */
#map { height: 98vh; }

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

/* quick fixes */
.leaflet-container .leaflet-control-attribution { display: none !important; }
.leaflet-default-icon-path { background-image: url(../images/marker-icon.png) !important; }
.leaflet-top { top: unset !important; bottom: 50px !important; }

/* select mods */
#sel {
	display: block;
	position: relative;
	margin: 1em auto;
	z-index: 9999;
	/*border: none;*/
	background-color: background-color:rgba(192,192,192,0.3);
	height: 2.5em;
	max-width: 20em;
	
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	
	text-overflow: ellipsis;
	text-indent: 1em;
	box-shadow: none;
	opacity: 0.75;
}

/* make the zoom also transparent */
.leaflet-touch .leaflet-bar a {
	background-color:rgba(192,192,192,0.3) !important;
	opacity: 0.75 !important;
}



